<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to scan 3D objects using LiDAR</string>

	<key>NSLocalNetworkUsageDescription</key>
	<string>Network access is required to communicate with your 3D printer on the local network</string>

	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_printer._tcp</string>
		<string>_octoprint._tcp</string>
	</array>

	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.3d-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STL 3D Model</string>
			<key>UTTypeIdentifier</key>
			<string>com.app.stl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stl</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/stl</string>
					<string>application/sla</string>
				</array>
			</dict>
		</dict>
	</array>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>STL File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.app.stl</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OBJ File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.geometry-definition-format</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>USDZ File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.reality</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>

	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
